@import "src/assets/colors";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  @media screen and (max-width: 479px) {
    justify-content: start;
  }
}
.input {
  width: 480px;
  height: 56px;
  @media screen and (max-width: 479px) {
    width: 330px;
  }
}
.inp{
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  margin-top: 40px;
  width: 480px;
  line-height: 56px;
  @media screen and (max-width: 479px) {
    width: 330px;
    font-size: 20px;

  }
}
.forgotPassword{
  text-decoration: none;
  color: $primary;
}