@import "src/assets/colors";

.container {
  border: 1px solid $gray;
  padding: 32px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media screen and (max-width: 479px) {
    width: 400px;
  }
  @media screen and (max-width: 426px) {
    width: 350px;
  }
}
.inputContainer {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: $primary;
  text-transform: uppercase;
  padding: 40px 0 32px 0;
}

.input {
  width: 480px;
  @media screen and (max-width: 479px) {
    width: 335px;
  }
  @media screen and (max-width: 426px) {
    width: 290px;
  }
}
.button {
  width: 480px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 479px) {
    width: 335px;
  }
  @media screen and (max-width: 426px) {
    width: 290px;
  }
}
