.favoritesContainer {
  @media screen and (max-width: 479px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.carouselContainer {
  @media screen and (max-width: 768px) {
    width: 687px;
  }
  @media screen and (max-width: 479px) {
    width: 296px;
  }
}

