@import "src/assets/colors";

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buttonContainer{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
  margin-bottom: 20px;
}
.buttonPrev{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 20px;
}