@import 'src/assets/colors';

.text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  @media screen and (max-width: 479px) {
    font-size: 28px;
    line-height: 40px;
    margin-right: 35px;
  }
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 48px;
}

.allContent {
  min-height: 50%;
}
.slide {
  position: absolute;
  display: flex;
  gap: 42px;
  @media screen and (max-width: 768px) {
    gap: 20px;
  }
  @media screen and (max-width: 479px) {
    gap: 25px;
  }
}
