@import "src/assets/colors";

.title{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: $primary;
  text-transform: uppercase;
  margin-bottom: 49px;
  @media screen and (max-width: 479px) {
    font-size: 32px;
    line-height: 44px;
  }
}
