@import "src/assets/colors";

.container {
  width: 352px;
  height: 454px;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    width: 328px;
    height: 454px;
  }
  @media screen and (max-width: 479px) {
    width: 272px;
    height: 392px;
    padding: 25px 0px;
  }
}
.favouritesContainer {
  width: 100%;
  height: 242px;
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 479px) {
    height: 100%;
    justify-content: center;
  }
}
.searchContainer {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid $gray;
}

.imgContainer {
  max-width: 352px;
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.rightFavouritesContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  @media screen and (max-width: 479px) {
    flex-direction: column;
    gap: 20px;
    width: 272px;
  }
}
.imgFifth {
  width: 192px;
  height: 164px;
  background-color: $blue;
  position: relative;
  @media screen and (max-width: 479px) {
    width: 272px;
    height: 204px;
  }
}
.likeIconSmallContainer{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  cursor: pointer;
  svg > path {
    stroke: $white;
  }
  &:hover {
    svg > path {
      fill: $red;
      stroke: $red;
    }
  }
}
.deleteBookFromCart{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  cursor: pointer;
  svg > path {
    stroke: $white;
    fill: $white;
  }
}
.activeLikeIcon {
  svg > path {
    fill: $red;
    stroke: $red;
  }
}
.img {
  width: 190px;
  height: 220px;
}
.imgFavourites {
  width: 160px;
  height: 192px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.favouritesTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $primary;
  min-height: 80px;

  &:hover {
    cursor: pointer;
  }
}
.searchTextContainer {
  display: flex;
  justify-content: start;

}
.favouritesTitle {
  min-height: 0px;
  margin-bottom: 8px;
}
.searchTitle {
  min-height: 0px;
  font-size: 18px;
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  min-height: 56px;
  @media screen and (max-width: 768px) {
    width: 350px;
  }
  @media screen and (max-width: 479px) {
    width: 272px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $primary;
}
.searchPrice {
  font-size: 18px;
}
.likeIcon {
  svg > path {
    stroke: $red;
    fill: $red;
  }
}
.closeIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 100px;
  @media screen and (max-width: 768px) {
    gap: 30px;
  }
}
.count {
  display: flex;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}
.countContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}
.countNumber {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $primary;
}
