@import "src/assets/colors";
.textContainer {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: $primary;
  text-transform: uppercase;
  display: flex;
}
.modalActive {
  background: rgba(38, 34, 47, 0.5);
}
.pageContainer{
  margin-top: 72px;
  border-top: 1px solid $gray;
  width: 100%;
}
.pagesContainer {
  margin-top: 48px;
  display: flex;
  padding: 0;
  width: 100%;
}
.pageNumber {
  list-style-type: none;
  margin-right: 8px;
  display: flex;
  width: 28px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: $secondary;
  outline: none;
  padding: 4px;
  user-select: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    cursor: pointer;
    color: $primary;
  }
}

.linkPage {
  outline: none;
  &:focus {
    outline: none;
  }
}
.activePageNumber {
  color: $primary;
}
.arrowButton {
  margin: auto;
  align-items: flex-start;
  list-style-type: none;
  padding: 4px;
  border-radius: 4px;
  user-select: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    color: $secondary;
    cursor: pointer;
  }
}
.blockedButton {
  &:hover {
    background-color: transparent;
    color: $secondary;
    cursor: not-allowed;
  }
}
.countSearchedBooks {
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}
